.loginSubmit{
  padding: 8px;
    margin: 8px;
    top: 30%;
    left: 45%;
    border-radius: 5px;
    background-color: #76efe1;
    position: absolute;
    padding-right: 80px;
}

.username{
  position: absolute;
  margin: 10px;
  left: 37%;
  padding: 10px;
  padding-right: 80px;
  top: 14%;
  border-radius: 5px;
}
.password{
  position: absolute;
  margin: 10px;
  left: 37%;
  padding: 10px;
  padding-right: 80px;
  top: 22%;
  border-radius: 5px;
}

.login{
  text-align: center;
  left: 48%;
  top: 10%;
  position: absolute;

}
